[DEFAULT]
threads=32

[hosts]
# Host selection
# source specifies a file and function to call
source=hosts_usg.usg_from_analytics()

# host_order must be drawn from ["as_is","random"]
order=random

# protocol must be drawn from ["http","https"] and can have multiple values separated by comma
protocol=http,https

[webtime]
# Parameters for webtime query

# retry is the number of times to retry a particular host if there is an HTTP problem or something
retry=2

# repeat is the number of times to rapidly ask the host what time it is
repeat=3

# timeout is the time when we should timeout on a query
timeout=5


[mysql]
user=ENTER_USERNAME
host=ENTER_HOSTNAME
passwd=ENTER_PASSWORD
db=ENTER_DATABASE
debug=1
testdb=ENTER_TESTING_DATABASE
